*{
    font-family: Helvetica;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}

body {
    background-color: #e3e3e3;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a{
    text-decoration: none;
    color: #f7D354;
    transition: 0.5s;
}

a:hover{
    color: #b8930c;
    text-decoration: underline;
}